@import url('https://fonts.googleapis.com/css2?family=Dottles&display=swap');

body {
    font-family: 'Dottles', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #AD88C6, #A87676);
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.stopwatch {
    text-align: center;
    background-color: #5BBCFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.display {
    font-size: 36px;
    margin-bottom: 10px;
    animation: pulse 1s infinite alternate;
}

button {
    font-size: 18px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

.laps {
    list-style-type: none;
    padding: 0;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}
